.features-card {
  --card-breakpoint: 22rem;
  /* Value >= 0 when card width equal or less than card breakpoint. Value < 0 when card width greater than card breakpoint */
  --temp: calc(100% - var(--card-breakpoint));
  width: clamp(13.4rem, 100%, 34rem);
  box-shadow: 0px 20px 60px 0px #3145F41A;
  background-color: var(--white-color);
  position: relative;
}

.features-card-header {
  width: 100%;
  display: flex;
  background-color: var(--milky-white-color);
}

.features-card-img {
  display: block;
  width: clamp(5rem, var(--temp)*-1000, 7.5rem);
  aspect-ratio: 1;
}

.features-card-title {
  padding:0 1.25rem;
  font-size: 1.25rem;
  font-weight: var(--font-semi-bold);
  line-height: clamp(calc(40 / 20), var(--temp)*1000 , calc(30 / 20));
  color: var(--black-color);
  align-self: center;
}

.features-card-text {
  padding: 2.5rem 1.875rem;
  font-size: 1rem;
  font-weight: var(--font-regular);
  line-height: calc(30 / 16);
  color: var(--black-color);
}

@media (min-width: 1024px) {
  .features-card:not(:last-child)::before {
    display: none;
  }
}
