<body>
  <footer class="footer section-container">
    <div class="footer-brand">
      <include src="components/brand.html" locals='{
        "brand_content": "Site made with VanGoux"
      }'>
      </include>
    </div>
    <div class="footer-nav">
      <include src="components/navs.html" locals='{
        "link_1": "Contact",
        "link_2": "Feedback",
        "link_3": "Join our Slack",
        "link_4": "Terms"
      }'>
      </include>
    </div>
    <div class="footer-sns">
      <img src="./asset/images/IconFacebook.png" alt="facebook">
      <img src="./asset/images/IconInstagram.png" alt="instagram">
    </div>
  </footer>
</body>
