<link rel="stylesheet" href="./asset/styles/components/howitwork-card.css">
<body>
  <div class="howitwork-card">
    <div class="howitwork-card-header">
      <div class="howitwork-card-info">
        <h4 class="howitwork-card-subtitle">{{ card_subtitle }}</h4>
        <h3 class="howitwork-card-title">{{ card_title }}</h3>
      </div>
      <div class="howitwork-card-icon">
        <img src="{{ card_icon }}" alt="card icon">
      </div>
    </div>
    <div class="howitwork-card-content">
      <p class="howitwork-card-text">
        {{ card_text }}
      </p>
    </div>
  </div>
</body>
