<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <include src="components/brand.html" locals='{
        "brand_content": "VanGoux"
      }'>
    </include>
    </div>
    <div class="navbar-action">
      <include src="components/navs.html" locals='{
        "link_1": "How it works",
        "link_2": "Features",
        "link_3": "Use cases",
        "link_4": "Schedule a demo"
      }'>
      </include>
      <div class="navbar-button">
        <include src="components/button.html" locals='{
          "text": "upload sketch",
          "color": "blue",
          "size": "small"
        }'>
        </include>
      </div>
    </div>
  </nav>
</body>
