<link rel="stylesheet" href="./asset/styles/components/testimonial-card.css">
<body>
  <div class="testimonial-card">
    <div class="card-header">
      <img src="#" alt="card img" class="card-img">
      <div class="card-info">
        <h3 class="card-name">card name</h3>
        <h4 class="card-position">card position</h4>
      </div>
      <img src="#" alt="card icon" class="card-icon">
    </div>
    <div class="card-content">
      <p class="card-text">
        Card text
      </p>
    </div>
  </div>
</body>
