<link rel="stylesheet" href="./asset/styles/components/testimonial-card.css">
<body>
  <div class="testimonial-card">
    <div class="card-header">
      <div class="card-img">
        <img src="{{ card_img }}" alt="card img">
      </div>
      <div class="card-info">
        <h3 class="card-name">{{ card_name }}</h3>
        <h4 class="card-position">{{ card_position }}</h4>
      </div>
      <div class="card-icon">
        <img src="{{ card_icon }}" alt="card icon">
      </div>
    </div>
    <div class="card-content">
      <p class="card-text">
        {{ card_text }}
      </p>
    </div>
  </div>
</body>
