<div class="testimonials-card">
  <div class="testimonials-card-header">
    <img src="{{ card_img }}" alt="card img" class="testimonials-card-img">
    <div class="testimonials-card-info">
      <h4 class="testimonials-card-name">{{ card_name }}</h4>
      <h5 class="testimonials-card-position">{{ card_position }}</h5>
    </div>
    <img src="{{ card_icon }}" alt="card icon" class="testimonials-card-icon">
  </div>
  <div class="testimonials-card-content">
    <p class="testimonials-card-text">
      {{ card_text }}
    </p>
  </div>
</div>
