.features-container {
  background-color: var(--blue-color);
  margin-top: 7.5rem;
}

.features-title {
  background-color: red;
}

.features-content {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 3.4375rem;
}

@media all and (min-width: 768px) and (max-width: 1920px){
  .features-container {
    height: 495px;
  }
}
