.features-container {
  background-color: var(--blue-color);
  height: 525px;
  margin-top: 7.5rem;
}

@media all and (min-width: 768px) and (max-width: 1920px){
  .features-container {
    height: 495px;
  }
}
