@import url(../base/reset.css);
@import url(../base/global.css);
@import url(../base/variables.css);

/* Mobile (Tablet) */

.hero-section {
  margin-top: 6rem;
}

.hero-jumbotron {
  width: 73%;
  margin-left: 10%;
}

.hero-img {
  margin-top: 5rem;
  display: grid;
  justify-items: center;
}

.hero-notify {
  display: grid;
  justify-items: center;
  background-image: url(../../images/background-hero.png);
}

.hero-notify p {
  max-width: 80%;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 1.25rem;
  font-weight: var(--font-bold);
  line-height: calc(40 / 20);
  text-align: center;
}

@media all and (min-width: 768px) and (max-width: 1920px) {
  .hero-section {
    margin-top: 9.375rem;
    height: 46rem;
  }
}
