@import url(../base/reset.css);
@import url(../base/global.css);
@import url(../base/variables.css);

/* Mobile (Tablet) */

.hero-section {
  margin-top: 6rem;
  width: 100%;
  height: 67.25rem;
  background-color: var(--blue-color);
}

.hero-jumbotron {
  width: 73%;
  height: 19rem;
  background-color: yellow;
  margin-left: 10%;
}

.hero-img {
  width: 90%;
  height: 30rem;
  margin: 5rem auto 0 auto;
  background-color: orange;
}

.hero-notify {
  width: 100%;
  height: 11.25rem;
  margin-top: 2rem;
  background-color: palegreen;
}

@media all and (min-width: 768px) and (max-width: 1920px) {
  .hero-section {
    margin-top: 9.375rem;
    height: 46rem;
  }
}
