.howitwork-container {
  margin-top: 7.5rem ;
}

.howitwork-content {
  margin-top: 3.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.5rem 4.6875rem;
}

@media all and (min-width: 768px) and (max-width: 1920px) {
  .howitwork-container {

  }
}
