.ourstory-container {
  margin-top: 3.75rem;
}

.ourstory-content {
  margin-top: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 0;
}

@media all and (min-width: 1025px) and (max-width: 1920px) {
  .ourstory-container {
    margin-top: 7.5rem;
    height: 420px;
  }
}
