.ourstory-container {
  margin-top: 3.75rem;
}

.ourstory-content {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem 11vw;
}

@media all and (min-width: 1024px) and (max-width: 1920px) {
  .ourstory-container {
    margin-top: 7.5rem;
  }

  .ourstory-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .ourstory-content > * {
    flex: 1;
  }
}
