@import url(../base/reset.css);
@import url(../base/global.css);
@import url(../base/variables.css);

.testimonials-section {
  max-width: 100%;
  margin: 5rem 8% 0 8%;
  background-color: var(--blue-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.5rem 0;
}

@media all and (min-width: 768px) and (max-width: 1920px) {
  .testimonials-section {
    margin: 0 10% 0 10%;
  }
}
