<div class="how-work-card">
  <div class="how-work-card-header">
    <div class="how-work-card-info">
      <h5 class="how-work-card-subtitle">{{ card_subtitle }}</h5>
      <h4 class="how-work-card-title">{{ card_title }}</h4>
    </div>
    <img src="{{ card_icon }}" alt="card icon" class="how-work-card-icon">
  </div>
  <div class="how-work-card-content">
    <p class="how-work-card-text">
      {{ card_text }}
    </p>
  </div>
  <include src="components/commons/decoration-juju.html">
  </include>
</div>
