.header {
  padding-top: 2.5rem;
}

.header .container {
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

.navbar * {
  font-family: 'Mulish';
}

.navbar-brand {
  margin-right: auto;
}

.navbar-brand a {
  font-size: 1.25rem;
  font-weight: var(--font-semi-bold);
  line-height: calc(30 / 20);
}


.navbar-action {
  display: none;
}

.hero {
  display: flex;
  margin-top: 5.625rem;
  flex-direction: column;
}

.hero-jumbotron {
  padding: 0 8.125rem 0 5rem;
  color: var(--black-color);
}

.hero-jumbotron-desktop {
  display: none;
}

.hero-img {
  display: block;
  margin-top: 5rem;
  padding: 0 1.25rem;
  aspect-ratio: 60 / 39;
}

.hero-notify {
  margin-top: 3rem;
  display: grid;
  justify-items: center;
  background-image: url(../../assets/images/background-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5rem 0;
}

.hero-notify p {
  max-width: 82%;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 1.25rem;
  font-weight: var(--font-bold);
  line-height: calc(40 / 20);
  text-align: center;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .navbar-brand {
    align-self: flex-start;
  }

  .navbar-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem 1.25rem;
  }

  .nav-item:not(:last-child) {
    width: 7.5rem;
  }

  .nav-item:last-child {
    width: 11.25rem;
  }

  .hero-jumbotron-desktop {
    display: block;
  }

  .hero-jumbotron-mobile {
    display: none;
  }

  .hero-notify {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .header {
    padding-top: 1.875rem;
  }

  .header .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar {
    padding: 0;
  }

  .navbar-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem 1.25rem;
  }

  .nav-item:not(:last-child) {
    width: 7.5rem;
  }

  .nav-item:last-child {
    width: 11.25rem;
  }

  .hero {
    margin-top: 9.0625rem;
    position: relative;
  }

  .hero-jumbotron {
    width: 53.5%;
    position: absolute;
    margin-right: auto;
    padding: 0;
  }

  .hero-img {
    width: 53.5%;
    margin-left: auto;
    margin-top: 3.125rem;
    padding: 0;
  }

  .hero-jumbotron-mobile {
    display: none;
  }

  .hero-jumbotron-desktop {
    display: block;
  }

  .hero-notify {
    display: none;
  }
}
