<section class="can-do">
  <div class="container">
    <h3 class="can-do-title-mobile section-title">
      What can you build with VanGoux
    </h3>
    <h2 class="can-do-title-desktop section-title">
      What can you do with VanGoux
    </h2>
    <div class="can-do-content">
      <include src="components/commons/can-do-card.html" locals='{
        "card_img": "../assets/images/can-do-1.jpg",
        "card_title": "Make realistic prototypes"
      }'>
      </include>
      <include src="components/commons/can-do-card.html" locals='{
        "card_img": "../assets/images/can-do-2.jpg",
        "card_title": "Build an MVP as quickly as you can design"
      }'>
      </include>
      <include src="components/commons/can-do-card.html" locals='{
        "card_img": "../assets/images/can-do-3.jpg",
        "card_title": "Create pixel-perfect landing pages"
      }'>
      </include>
      <include src="components/commons/can-do-card.html" locals='{
        "card_img": "../assets/images/can-do-4.jpg",
        "card_title": "Generate a design system for your product"
      }'>
      </include>
    </div>
  </div>
</section>
