html,body {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  max-width: 955px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background-color: #0E6248;
  border-radius: 4px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  display: block;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #272727;
  line-height: calc(22 / 16);
}

/* Header */

.header {
  background-image: url(../images/hero-image.png);
  color: #FFFFFF;
}

/* Navigation */

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
}

.nav__item a {
  text-decoration: none;
  color: inherit;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 38px;
}

.nav__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 32px;
}

.nav__logo {
  padding-left: 50px;
}

.btn__share {
  padding: 6px 15px;
}

.btn__share img {
  transform: translate(3px ,3px);
}

/* section Hero */

.hero-container {
  max-width: 520px;
  margin: 0 auto;
  margin-top: 198px;
  padding-bottom: 245px;
}

.hero-heading {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: calc(40 / 36);
  text-align: center;
}

.hero-btn {
  margin: 0 auto;
  margin-top: 24px;
  width: 369px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__volunteer {
  padding: 10px 29px;
}

.btn__learn-more {
  background-color: #FFFFFFD9;
  padding: 9px 24px;
}

/* section Quick info */

.quick-info__content {
  margin: 0 auto;
  margin-top: 54px;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

/* section What we do */

.section__heading {
  margin-top: 158px;
  text-transform: uppercase;
  color: #0E6248;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: calc(14 /12);
}

.section__des {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.section__des h3{
  width: 100%;
  max-width: 680px;
  font-size: 1.25rem;
  line-height: calc(24 / 20);
  font-weight: 900;
}

.featured-project__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 38px;
  margin-right: 24px;
  margin-top: 88px;
}

.featured-project__item {
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  width: 280px;
  height: auto;
  display: flex;
  flex-flow: column;
  padding-bottom: 24px;
}
.featured-project__item img {
  transform: translate(24px, -22px);
}
.section__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: calc(22 / 18);
  width: 100%;
  max-width: 232px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.section__content {
  width: 100%;
  max-width: 232px;
  margin: 0 auto;
}

.section__btn {
  margin: 0 auto;
  margin-top: 16px;
  padding: 11px 20px;
}

/* section Stats */

.stats__container {
  display: flex;
  justify-content: space-around;
  margin-top: 156px;
  margin-bottom: 112px;
}

.stats__item  {
  max-width: 180px;
}

.stats__data {
  font-weight: 900;
  font-size: 1.5rem;
}

.stats__category {
  font-weight: 500;
}
/* section Gallery */

.gallery__container {
  width: 1760px;
  height: 419px;
  margin-bottom: 97px;
  margin-left: -230px;
  display: grid;
  grid-template-columns: repeat(11, min-content);
  grid-template-rows: repeat(2, 181px);
  grid-auto-flow: dense;
  gap: 26px 30px;
  justify-items: end;
  align-items: end;
}

.gallery__item {
  border: 1px solid #DDDDDD;
  border-radius: 8px;
}

.gallery__item img {
  transform: translate(22px, -18px);
}

.gallery__item:nth-child(1) {
  grid-column: 1 / 4;
}

.gallery__item:nth-child(3) {
  grid-row: 1 /  3;
  grid-column: 5 / 6;
}

.gallery__item:nth-child(4) {
  grid-column: 6 / 8;
}

.gallery__item:nth-child(5) {
  grid-row: 1 / 3;
  grid-column: 8 / 9;
}

.gallery__item:nth-child(7) {
  grid-column: 10 / 12;
}

.gallery__item:nth-child(7) {
  align-self: center;
}

.gallery__item:nth-child(9) {
  grid-column: 3 / 5;
}

.gallery__item:nth-child(13) {
  grid-column: 9 / 11;
}

.gallery__item:nth-child(14) {
  justify-self: start;
}

/* section Donate */

.donate__container {
  display: flex;
  justify-content: space-between;
}

.donate__overview {
  width: 100%;
  max-width: 440px;
}

.donate__overview h2 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: calc(28.8 / 24);
  margin-bottom: 24px;
}

.donate__form {
  border: 1px solid #FBF8F6;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 340px;
  padding: 14px 22px 30px 26px;
}


.donate__form label {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 16px;
}

.form__input {
  width: 100%;
  max-width: 322px;
  height: 40px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding-left: 15px;
}

.amount__container {
  display: flex;
}

.amount__container select {
  width: 100%;
  max-width: 82px;
  font-weight: 700;
  text-align-last: center;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0px 0px 4px;
}

.amount__container input {
  width: 100%;
  border-radius: 0px 4px 4px 0px;
}

.btn__donate {
  margin-left: 0;
  margin-top: 26px;
  padding: 10px 21px;
  border: none;
  width: 100%;
  max-width: max-content;
}

.btn__donate img {
  transform: translate(3px,3px);
}


/* section Reading Resources */

.btn__partner {
  padding: 10px 36px;
}

.download__container {
  display: flex;
  justify-content: space-between;
  gap: 0 50px;
  margin-top: 56px;
  margin-bottom: 82px;
}

.download__item {
  border-radius: 8px;
  border: 1px solid #DDDDDD;
  padding: 26px 24px 24px 24px;
  display: flex;
  flex-direction: column;
}

/* section Newsletter */

.newsletter-container {
  background-color: #0E6248;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 32px 0 45px 0;
  text-align: center;
}

.newsletter-container  h2 {
  font-size: 1.5rem; 
  font-weight: 900;
  line-height: calc(28.8 / 24);
  margin-bottom: 8px;
}

.newsletter-container p {
  margin-bottom: 24px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  width: 42%;
  height: 40px;
  margin: 0 auto;
}

.newsletter-form__email {
  background-color: #FBF8F6;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #DDDDDD;
  flex-basis: 70%;
  padding-left: 16px;
}

.newsletter-form__email::placeholder {
  font-style: italic;
}

.newsletter-form__submit {
  background-color: #FFFFFFD9;
  color: #0E6248;
  font-weight: 700 ;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #DDDDDD;
  flex-basis: 30%;
}

/* Footer */

.footer {
  background-color: #272727;
  color: #FFFFFF;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: calc(18 / 12);
  padding-top: 40px;
  padding-bottom: 45px;
  margin-top: 139px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  text-align: start;
}

.footer__left a {
  margin-bottom: 15px;
}
.footer__social-media {
  display: flex;
  gap: 0 10px;
  margin-top: 7.5px;
}

.footer__right  {
  text-align: end;
}

.icon__twitter {
  filter: invert(50%) sepia(33%) saturate(1187%) hue-rotate(159deg) brightness(102%) contrast(96%);
}

.icon__fb {
  filter: invert(39%) sepia(14%) saturate(2256%) hue-rotate(182deg) brightness(95%) contrast(91%);
}

.icon__ig {
  filter: invert(26%) sepia(74%) saturate(2536%) hue-rotate(321deg) brightness(92%) contrast(90%);
}
