html {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 955px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background-color: #0E6248;
  border-radius: 4px;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  color: #272727;
  line-height: calc(22 / 16);
}

/* Header */

.header {
  background-image: url(images/hero-image.png);
  color: #FFFFFF;
}

/* Navigation */

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 38px;
  padding-top: 10px;
}

.nav__item a {
  text-decoration: none;
  color: inherit;
}

.nav__container li:nth-child(5) {
  margin-left: 60px; 
  margin-right: 52px;
}

.btn__share {
  padding: 6px 15px;
}

.btn__share img {
  transform: translate(3px ,3px);
}

/* section Hero */

.hero-container {
  max-width: 520px;
  margin: 0 auto;
  margin-top: 198px;
  padding-bottom: 251px;
}

.hero-heading {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: calc(40 / 36);
  text-align: center;
}

.hero-btn {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn__volunteer {
  padding: 11px 29px;
}

.btn__learn-more {
  background-color: #FFFFFFD9;
  padding: 11px 24px;
}