.testimonials {
  margin-top: 3.125rem;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media all and (min-width: 1024px) {
  .testimonials-container {
    flex-direction: row;
  }
}
