.use-cases-container {
  margin-top: 7.5rem;
}

.use-cases-title-mobile {
  display: inline-block;
}

.use-cases-title-desktop {
  display: none;
}

.use-cases-content {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

@media all and (min-width: 1024px) and (max-width: 1920px){
  .use-cases-title-mobile {
    display: none;
  }

  .use-cases-title-desktop {
    display: inline-block;
  }

  .use-cases-card {
    max-width: 22.5rem;
  }

  .use-cases-card-title-mobile {
    display: none;
  }

  .use-cases-card-title-desktop {
    display: inline-block;
  }
}
