.whatcanyoudo-container {
  margin-top: 7.5rem;
}

.whatcanyoudo-title-mobile {
  display: inline-block;
}
.whatcanyoudo-title-desktop {
  display: none;
}

.whatcanyoudo-content {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

@media all and (min-width: 1024px) and (max-width: 1920px) {
  .whatcanyoudo-title-mobile {
    display: none;
  }

  .whatcanyoudo-title-desktop {
    display: inline-block;
  }

  .whatcanyoudo-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3vw;
  }
}
