.footer {
  margin-top: 3.75rem;
  height: 220px;
  background-color: blue;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-template-areas:
  "brand sns"
  "nav nav";
  gap: 2.5rem;
}

.footer > * {
  border: 1px solid black;
}

.footer-brand {
  width: 250px;
  height: 50px;
  background-color: antiquewhite;
  display: flex;
  grid-area: brand;
}

.footer-logo {
  width: 50px;
  height: 50px;
}

.footer-nav {
  width: calc(120 * 4);
  height: 50px;
  background-color: aquamarine;
  grid-area: nav;
}

.footer-sns {
  width: 100px;
  height: 50px;
  background-color: beige;
  display: flex;
  grid-area: sns;
  justify-self: end;
}

.footer-sns > img {
  width: 50px;
}

@media all and (min-width: 1025px) and (max-width: 1920px) {
  .footer {
    margin-top: 7.5rem;
    height: 130px;
  }
}
