@import url(../base/reset.css);
@import url(../base/global.css);
@import url(../base/variables.css);

/* Mobile (Tablet)  */
.navbar {
  margin: 1.875rem 10% auto 10%;
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: auto;
}

.navbar-brand h1 {
  font-size: 1.25rem;
  font-weight: var(--font-semi-bold);
  line-height: calc(30 / 20);
  color: var(--blue-color);
  margin-left: 1rem;
}

.navbar-action {
  display: none;
  align-items: center;
  gap: 1rem 0;
}

.navbar-button {
  margin-left: 1rem;
}

/* Responsive in Desktop */

@media all and (min-width: 768px) and (max-width: 1024px) {
  .navbar-brand {
    align-self: flex-start;
  }

  .navbar-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media all and (min-width: 1025px) and (max-width: 1920px) {
  .navbar-action {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
