@import url(../base/reset.css);
@import url(../base/global.css);
@import url(../base/variables.css);

.nav {
  display: flex;
}

.nav-item {
  display: inline-block;
  padding: 0 1rem;
}

.nav-link {
  font-size: 0.875rem;
  font-weight: var(--font-semi-bold);
  line-height: calc(20 / 14);
  text-decoration: none;
  color: var(--black);
  white-space: nowrap;
}
