.nav {
  display: flex;
}

.nav-item {
  display: block;
  text-align: center;
  width: 7.5rem;
}

.nav-link {
  font-size: 0.875rem;
  font-weight: var(--font-semi-bold);
  line-height: calc(20 / 14);
  text-decoration: none;
  color: var(--black);
  white-space: nowrap;
}
