@import url(../base/reset.css);
@import url(../base/global.css);
@import url(../base/variables.css);

.testimonial-card {
  width: clamp(22.5rem, 100% ,33.75rem);;
  padding: 2.5rem;
  display: flex;
  flex-flow: column;
  gap: 2.5rem 0;
  box-shadow: 0px 20px 60px 0px #1968FC1A;
}

.card-header {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

.card-img {
  width: 21.7%;
}

.card-img img {
  width: 100%;
  aspect-ratio: 1;
}

.card-info {
  width: calc(100% - 21.7% - 13%);
  padding: 5% 1.25rem;
}

.card-name {
  font-size: 1.125rem;
  font-weight: var(--font-semi-bold);
  line-height: calc(30 / 18);
  color: var(--black-color);
}

.card-position {
  font-size: 0.875rem;
  font-weight: var(--font-semi-bold);
  line-height: calc(30 / 14);
  color: var(--blue-color);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.card-icon {
  width: 13%;
}

.card-icon img {
  width: 100%;
  aspect-ratio: 60 / 46;
}

.card-content {
  margin-top: auto;
  flex: 1;
}

.card-text {
  font-size: 1rem;
  font-weight: var(--font-regular);
  line-height: calc(30 / 16);
  color: var(--black-color);
}
