.usecase-card {
  width: 250px;
  height: 190px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.usecase-card-title {
  height: 25%;
}

.usecase-card-text {
  margin-top: 1.25rem;
  flex-grow: 1;
}
