:root {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.container {
  margin: 0 10%;
}

h3,
h4,
h5 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

p {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
