.story {
  margin-top: 3.75rem;
}

.story-content {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem 11vw;
}

@media all and (min-width: 1024px) {
  .story {
    margin-top: 7.5rem;
  }

  .story-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .story-content > * {
    flex: 1;
  }
}
