<footer class="footer section-container">
  <div class="container">
    <div class="footer-container">
      <div class="footer-brand">
        <include src="components/brand.html" locals='{
          "brand_content": "Site made with VanGoux"
        }'>
        </include>
      </div>
      <div class="footer-nav">
        <include src="components/navs.html" locals='{
          "link_1": "Contact",
          "link_2": "Feedback",
          "link_3": "Join our Slack",
          "link_4": "Terms"
        }'>
        </include>
      </div>
      <div class="footer-sns">
        <a href="https://www.facebook.com">
          <img src="../assets/images/facebook.png" alt="facebook">
        </a>
        <a href="https://www.instagram.com">
          <img src="../assets/images/instagram.png" alt="instagram">
        </a>
      </div>
      <img src="../assets/images/vincent.png" alt="vincent" class="footer-img">
    </div>
  </div>
</footer>
