.how-work-card {
  --padding-card: 2.5rem;
  width: clamp(13.4rem, 100%, 33rem);
  padding: var(--padding-card);
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 0.625rem 0;
  box-shadow: 0px 20px 60px 0px #3145F41A;
  position: relative;
}

.how-work-card-header {
  display: flex;
  flex-shrink: 0;
}

.how-work-card-info {
  width: 90%;
}

.how-work-card-subtitle {
  font-size: 0.75rem;
  font-weight: var(--font-bold);
  line-height: calc(20 / 12);
  text-transform: uppercase;
  color: var(--black-color);
}

.how-work-card-title {
  font-size: 1.125rem;
  font-weight: var(--font-bold);
  line-height: calc(40 / 18);
  text-transform: uppercase;
  color: var(--blue-color);
}

.how-work-card-icon {
  width: 10%;
  margin: 0 0 auto auto;
  aspect-ratio: 1;
  align-self: flex-start;
}

.how-work-card-content {
  margin-top: auto;
  flex: 1;
}

.how-work-card-text {
  font-size: 1rem;
  font-weight: var(--font-regular);
  line-height: calc(30 / 16);
  color: var(--black-color);
}
