.jumbotron * {
  font-family: 'Mulish';
}

.jumbotron-title {
  font-size: 2.5rem;
  font-weight: var(--font-semi-bold);
  line-height: calc(60 / 40);
  color: inherit;
  letter-spacing: 1px;
}

.jumbotron-content {
  margin-top: 1.25rem;
  font-size: 1.25rem;
  font-weight: var(--font-regular);
  line-height: calc(40 / 20);
  color: inherit;
}

.jumbotron-button {
  margin-top: 2.5rem;
}
